body,p,h1,h2,h3,h4,h5,h6,ul,ol{margin: 0;padding: 0;font-family:'微软雅黑'}
li,img{display: block;}
a{text-decoration: none;}
.c{clear: both;}
@font-face
{
font-family: myFont;
	src:
	url('../fonts/FontAwesome.otf'),
	url('../fonts/fontawesome-webfont.eot'),
	url('../fonts/fontawesome-webfont.svg'),
	url('../fonts/fontawesome-webfont.ttf'),
	url('../fonts/fontawesome-webfont.woff'),
	url('../fonts/fontawesome-webfont.woff2');
}

/*common css*/
.ul-clear:after{content: "";display: block;clear: both;}
.m-top-25{margin-top: 25px;}

.box_w_1000{width: 1000px;margin: auto;}
/*body{background:#f0f0f0;}*/
header{height: 50px;background: #666;min-width: 1000px;}
nav.index{background: #f5f5f5;border-bottom: 1px solid #e1e1e2;min-width: 1000px;}
nav ul{padding: 0 100px;box-sizing: border-box;}
nav ul>li{float: left;width: 20%;line-height: 44px;text-align: center;font-size: 12px;position: relative;}
nav ul li a{display: block;color: #666;}
nav ul ol{position: absolute;width: 100%;background:#f5f5f5;border:1px solid #e1e1e2;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;display: none;}
nav ul ol li~li{border-top: 1px solid #e1e1e2;}